* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 800px;
    min-height: 600px;
    background-color: #FFFF;
    color: #888888;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #707070;
    color: #FFFF;
    width: 100%;
    height: 50vh;
    padding-top: 40px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);

}

header h1,
header p,
header nav {
    font-weight: 100;
    margin-top: 20px;
}

header h1 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 0px;
}

header #subtitulo {
    font-size: 20px;
    font-weight: 100;
}

header span {
    font-size: 10px;
    letter-spacing: 2px;
}

header nav button {
    width: 160px;
    height: 40px;
    border: 1px solid #707070;
    border-radius: 4px;
    color: #707070;
    margin-right: 50px;
    cursor: pointer;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 21px 290px 0px 290px;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: start;
}

#layoutMain {
    display: flex;
    flex-direction: row;
}

.p-algoritimo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

aside {
    padding: 0 0 0 60px;
}

.cadastro form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 300px;
}

.cadastro form div {
    display: flex;
    width: 100%;
    justify-content: left;
}

.cadastro form div #feminino {
    margin-left: 50px;
}

.cadastro form div label {
    margin-left: 7px;
}

.data {
    width: 99%;
    height: 20px;
    margin: 12px 0 10px 0;
    border: 1px solid #707070;
}

.cadastro form button {
    margin-top: 20px;
    width: 100%;
    height: 30px;
    color: #888888;
    border: 1px solid #707070;
    border-radius: 4px;
    cursor: pointer;
}

#section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#section h2 {
    margin-top: 79px;
    position: relative;
    font-size: 18px;
    font-weight: bold;
}

#section h2::before {
    content: "";
    position: absolute;
    right: 200px;
    top: 50%;
    transform: translateY(-50%);
    /* Alinha verticalmente com o texto */
    width: 350px;
    /* Tamanho da linha */
    height: 2px;
    /* Espessura da linha */
    background-color: #888888;
    /* Cor da linha */
}

#section h2::after {
    content: "";
    position: absolute;
    left: 200px;
    top: 50%;
    transform: translateY(-50%);
    /* Alinha verticalmente com o texto */
    width: 350px;
    /* Tamanho da linha */
    height: 2px;
    /* Espessura da linha */
    background-color: #888888;
    /* Cor da linha */
}

.produtos {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 49px;
    row-gap: 45px;

}

.retangulo {
    width: 200px;
    height: 150px;
    border: 1px solid #707070;
    margin-top: 40px;
}

.produtos h3 {
    padding-top: 14px;
}

.produtos .descricaoDoProduto {
    padding-top: 10px;
}

.precoPromocional {
    padding-top: 6px;
}

.parcelamento {
    padding-top: 7px;
}

.produtos button {
    width: 100%;
    height: 30px;
    margin-top: 14px;
    color: #888888;
    border: 1px solid #707070;
    border-radius: 4px;
    cursor: pointer;
}

.botaoMaisProdutos {
    margin-top: 52px;
    width: 260px;
    height: 39px;
    border: 1px solid #707070;
    border-radius: 4px;
    color: #888888;
    cursor: pointer;
}

.compartilhe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compartilhe h2 {
    margin-top: 79px;
    position: relative;
    font-size: 18px;
    font-weight: bold;
}

.compartilhe h2::before {
    content: "";
    position: absolute;
    right: 250px;
    top: 50%;
    transform: translateY(-50%);
    /* Alinha verticalmente com o texto */
    width: 350px;
    /* Tamanho da linha */
    height: 2px;
    /* Espessura da linha */
    background-color: #888888;
    /* Cor da linha */
}

.compartilhe h2::after {
    content: "";
    position: absolute;
    left: 250px;
    top: 50%;
    transform: translateY(-50%);
    /* Alinha verticalmente com o texto */
    width: 350px;
    /* Tamanho da linha */
    height: 2px;
    /* Espessura da linha */
    background-color: #888888;
    /* Cor da linha */
}

.compartilhe p {
    margin-top: 44px;
    color: #888888;
}

.compartilhe form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.compartilhe form div {
    display: flex;
    flex-direction: row;
}

.compartilhe form div .layout-personalizado {
    display: initial;
    margin-right: 40px;
    margin-top: 39px;
}


.compartilhe input {
    width: 340px;
    height: 20px;
    border: 1px solid #707070;
}

.compartilhe form button {
    margin-top: 50px;
    width: 260px;
    height: 39px;
    color: #888888;
    border: 1px solid #707070;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 72px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    align-items: center;
    background-color: #707070;
    min-width: 830px;
    height: 30vh;
    padding-top: 40px;
    clip-path: polygon(0 21%, 100% 0, 100% 100%, 0% 100%);
}

@media only screen and (max-width: 430px) {
    body{
        min-width: auto;
        min-height: auto;
        max-width: 100%;
    }

    header {
        align-items: start;
        justify-content: left;
        min-width: 418px;
        padding-top: 0;
    }

    
    header h1,
    header p,
    header nav {
        margin: 0 46px 0 16px;
    }
    
    header nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 32px;
        column-gap: 21px;
        margin: 56px 41px 0 38px;
    }
    header h1 {
        font-size: 40px;
        font-weight: bold;
        margin-top: 0px;
    }

    header #subtitulo {
        margin-top: 66px;
    }

    header p {
        max-width: 412px;
        overflow-wrap: break-word;
        font-size: 14px;
    }

    header nav button {
        margin: 0;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin: 29px 18px 0 16px;
        max-width: 412px;
    }

    #layoutMain {
        display: initial;
    }

    main .cadastro {
        padding: 0;
        margin-top: 29px;
    }

    main .cadastro form {
        width: 100%;
    }


    #section h2::after {
        width: 20%;
        /* Tamanho da linha */
    }

   .produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
   }

   .conteudoProduto {
    display: flex;
    flex-direction: row;  
}

.info-produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-produto button {
    width: 50vw;
}

.descricaoDoProduto {
    display: none;
}

.retangulo {
    width: 169px;
    height: 129px;
    margin-top: 23px;
    margin-right: 23px;
}

.precoPromocional {
    font-size: 16px;
}

.info-produto h3 {
    margin-bottom: 13px;
}

.compartilhe {
    flex-direction: column;
    width: 100%;
}

.compartilhe h2::after {
    width: 50%;
    /* Tamanho da linha */
}

.compartilhe p {
    margin: 28px 0 28px 0;
}


.compartilhe form div {
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.compartilhe form div .layout-personalizado {
    margin-top: 20px;
    margin-right: 0px;
}

.compartilhe input {
    padding-top: 7px;
    width: 100%;
    height: 30px;
}

.compartilhe form button {
    width: 260px;
    height: 39px;
    margin-top: 42px;
}

footer {
   min-width: 400px;
   height: 25vh;
   padding-top: initial;
}

}